body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
}
#top-banner {
  background-image: url(../Images/top-banner.png);
  background-repeat: no-repeat;
}
.btn {
  border: none;
  background: linear-gradient(45deg, #ff6a4d 0%, #ff9672 100%);
  color: #f9f9f9;
  border-radius: 5px;
  padding: 10px 40px;
}
.flx {
  display: flex;
}
.half-width {
  width: 50%;
  margin: 0px 70px;
}
.orange-color {
  color: orange;
}
img {
  width: 90%;
}
#dream-banner {
  margin: 75px 0;
  background-image: url(../Images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.ex-container {
  justify-content: space-around;
  margin-bottom: 60px;
}
.box-design {
  width: 40%;
  height: 400px;
  padding: 20px;
  box-shadow: 10px 10px 20px gray;
}
.web-dev-box-1 {
  border-image: linear-gradient(red, blue);
  border-image-slice: 50;
  border-left: 5px solid;
}
.web-dev-box-2 {
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 50;
  border-left: 5px solid;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
