body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
}
#top-banner {
  background-image: url(../Images/top-banner.png);
  background-repeat: no-repeat;
}
.btn {
  border: none;
  background: linear-gradient(45deg, #ff6a4d 0%, #ff9672 100%);
  color: #f9f9f9;
  border-radius: 5px;
  padding: 10px 40px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  margin: 0px 70px;
}
.orange-color {
  color: orange;
}
img {
  width: 90%;
}
